@import 'tailwindcss';
@import './styles/utilities/fonts.css';

:root {
  --color-primary: #fafafa;
  --color-secondary: #060606;
  --color-tertiary: #0b021e;
}

@theme {
  --font-sans: var(--font-outfit-sans);
  --font-serif: var(--font-stix-serif);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);

  --spacing-base: clamp(12px, 1.4vw, 24px);

  --breakpoint-lg: 58rem;
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-outfit-sans), sans-serif;
}
