@import 'tailwindcss';
@import './styles/utilities/fonts.css';
@import './styles/utilities/sizes.css';

:root {
  --color-primary: #fafafa;
  --color-secondary: #060606;
  --color-tertiary: #0b021e;

  --spacing-base: clamp(12px, 1.4vw, 24px);
  --spacing-type-xl: clamp(1.75rem, 3vw, 3rem);

  --translate-x: 100%;
}

@theme {
  --font-sans: var(--font-outfit-sans);
  --font-serif: var(--font-stix-serif);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);

  --spacing-base: clamp(12px, 1.4vw, 24px);
  --spacing-type-xl: clamp(1.75rem, 3vw, 3rem);

  --breakpoint-lg: 58rem;
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-outfit-sans), sans-serif;
}

button,
a {
  outline: none;
  position: relative;
}
