@utility type-xs {
  font-size: clamp(0.625rem, 1.17vw, 0.875rem);
  line-height: clamp(0.875rem, 1.4vw, 1.25rem);
}
@utility type-sm {
  font-size: clamp(0.75rem, 1.4vw, 1rem);
  line-height: clamp(1rem, 1.7vw, 1.5rem);
}
@utility type-base {
  font-size: clamp(1rem, 1.87vw, 1.5rem);
  line-height: clamp(1.5rem, 2.2vw, 1.75rem);
}
@utility type-lg {
  font-size: clamp(1.0625rem, 1.99vw, 1.75rem);
  line-height: clamp(1.5rem, 2.1vw, 2rem);
}
@utility type-xl {
  font-size: clamp(1.5rem, 2.8vw, 2.75rem);
  line-height: clamp(1.75rem, 3vw, 3rem);
}
@utility type-2xl {
  font-size: clamp(1.75rem, 3.28vw, 4rem);
  line-height: clamp(2rem, 3.3vw, 4rem);
}
@utility type-3xl {
  font-size: clamp(2rem, 5vw, 6.5rem);
  line-height: clamp(2.25rem, 5.1vw, 6.5rem);
}
